<div>
  Total Number of Users : <%= @users.count%>
</div>

<br>
<br>

<div>
  <% @users.each do |user|%>
    <div>
      => <%= user.email%>
    </div>
  <%end%>
</div>

<%= link_to 'Profile Page', root_path%>
