<h3> New Course </h3>

<%= form_for :course, url: '/user/:user_id/courses', method: :post do |f| %>
  Course Name: <%= f.text_field :name%>
  <%= f.submit%>
<% end %>

<%= link_to 'My Classes', user_courses_path(:student_id => current_user.id)%>

