// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-div{
  margin-left: 10%
}

.heading-font{
  font-size: 2em;
}


.users-table {
  border-collapse: collapse;
  width: 40%;
}

.user-table-heading {
  font-size: 22px;
}

.user-table-data {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.user-role-table-data {
  text-align: center;
  font-size: 18px;
}

.user-div-centerlized {
  display: flex;
  justify-content: center;
  margin-left: 0%;
}
